<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.joker.smslib">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application>

        <activity android:name=".ui.SmsListActivity"/>

<!--        <receiver-->
<!--            android:name=".receiver.SMSReceiver">-->
<!--            <intent-filter  android:priority="1000">-->
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>


</manifest>